<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hola tienes un nuevo mensaje desde nuestro website</h1>
    <ul>
      <li>Nombre: <%= @name %></li>
      <li>Correo electrónico: <%= @email %></li>
      <li>Mensaje: <%= @message %></li>
    </ul>
  </body>
</html>
