
<br><br>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Bienvenido a Financiera VeDel</h1>
      <%= image_tag 'logo.png', width: 200, height: 80, class: 'img-fluid mx-auto d-block' %>
    </div>
  </div>
</div>


