<br><br><br>
<h1 class="text-center">Contratos</h1>
<br><br><br>
<%= link_to 'Nuevo', new_contract_path, class: 'btn btn-primary offset-md-10 col-md-2' %>
<br><br>
<table id="dttb" class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @contracts.each do |c| %>
          <tr>
            <td><%= link_to c.name, edit_contract_path(c) %></td>
            <td><%= link_to 'Editar', edit_contract_path(c), class: 'btn  btn-sm btn-outline-warning' %></td>
            <td><%= link_to 'Eliminar', contract_path(c), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Estás seguro?' }  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
  });
</script>