<div class="container">
  <%= render "clients/form" %>
</div>

<script>
  $('#clientAddressModal form').submit(function() {
    $('#clientAddressModal').modal('hide');
  });

  $('#clientAddressModal').on('hidden.bs.modal', function () {
    setTimeout(function(){ $('#clientAddressModal form')[0].reset(); }, 2000);
  });

  $('#clientContactTypesModal form').submit(function() {
    $('#clientContactTypesModal').modal('hide');
  });

  $('#clientContactTypesModal').on('hidden.bs.modal', function () {
    setTimeout(function(){ $('#clientContactTypesModal form')[0].reset(); }, 2000);
  });

  $('#clientPersonalDocumentsModal form').submit(function() {
    setTimeout(function(){ $('#clientPersonalDocumentsModal form')[0].reset(); }, 2000);
  });

  $('#clientPersonalDocumentsModal').on('hidden.bs.modal', function () {
    setTimeout(function(){ $('#clientPersonalDocumentsModal form')[0].reset(); }, 2000);
  });
</script>