<div class="container">
  <br><br><br>
  <h1 class="text-center">Roles</h1>
  <br><br><br>
  <%= link_to 'Nuevo', new_role_path, class: 'btn btn-primary offset-md-10 col-md-2' %>
  <br><br>
  <table id="dttb" class="table table-hover dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |r| %>
        <tr>
          <td><%= link_to r.name.capitalize, edit_role_path(r) %></td>
          <td><%= link_to 'Editar', edit_role_path(r), class: 'btn  btn-sm btn-outline-warning' %></td>
          <td><%= link_to 'Eliminar', role_path(r), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Estás seguro?' }  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "language": {
            "lengthMenu": "Mostrando _MENU_ renglones por página",
            "zeroRecords": "No hay nada - disculpa",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay datos disponibles",
            "infoFiltered": "(filtered from _MAX_ total de renglones)",
            "sSearch": "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sPrevious": "Anterior",
              "sNext":     "Siguiente",
              "sLast":     "Último"
            },
            "buttons": {
                "copy": "Copiar",
                "print": "Imprimir"
            }
        }
    });
  });
</script>